[submodule "submodules/nksip"]
	path = submodules/nksip
	url = https://github.com/DEK-Technologies/nksip.git
[submodule "submodules/rebar"]
	path = submodules/rebar
	url = https://github.com/rebar/rebar
